################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/FileContentIndex/80e05fca-d967-4db7-9818-5b38a963c371.vsidx
/WebApp/.vs/WebApp/FileContentIndex/d78c65e2-5515-45cb-990d-b5fae2810f0e.vsidx
/WebApp/.vs/WebApp/FileContentIndex/f9e18063-df3b-4d3b-b39d-10c1c07da08f.vsidx
/WebApp/.vs/
.vs/GrillButikkenFixed/v17/.wsuo
.vs/GrillButikkenFixed/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
WebApp/.vs/WebApp/config/applicationhost.config
WebApp/.vs/WebApp/FileContentIndex/890d1c4a-6bcb-4c81-8c9b-8229a7db3d89.vsidx
WebApp/.vs/WebApp/FileContentIndex/f9e18063-df3b-4d3b-b39d-10c1c07da08f.vsidx
WebApp/.vs/WebApp/v17/.suo
WebApp/.vs/WebApp/v17/DocumentLayout.backup.json
WebApp/.vs/WebApp/v17/DocumentLayout.json
WebApp/WebApp/.vs/WebApp.csproj.dtbcache.json
.vs/GrillButikkenFixed/v17/.wsuo
.vs/GrillButikkenFixed/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
WebApp/.vs/WebApp/config/applicationhost.config
WebApp/.vs/WebApp/FileContentIndex/890d1c4a-6bcb-4c81-8c9b-8229a7db3d89.vsidx
WebApp/.vs/WebApp/FileContentIndex/f9e18063-df3b-4d3b-b39d-10c1c07da08f.vsidx
WebApp/.vs/WebApp/v17/.suo
WebApp/.vs/WebApp/v17/DocumentLayout.backup.json
WebApp/.vs/WebApp/v17/DocumentLayout.json
WebApp/WebApp/.vs/WebApp.csproj.dtbcache.json
WebApp/.vs/WebApp/config/applicationhost.config
/WebApp/.vs/WebApp/copilot-chat/d4311983/sessions/c347585c-384b-4190-8323-215c658f6846
