################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/FileContentIndex/80e05fca-d967-4db7-9818-5b38a963c371.vsidx
/WebApp/.vs/WebApp/FileContentIndex/d78c65e2-5515-45cb-990d-b5fae2810f0e.vsidx
/WebApp/.vs/WebApp/FileContentIndex/f9e18063-df3b-4d3b-b39d-10c1c07da08f.vsidx
/WebApp/.vs/