﻿@model List<WebApp.DTO.MeasurementTypeDTO>
@{
    ViewBag.Title = "DeleteMeasurementType";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
}



<h2>DeleteMeasurementType</h2>

<table class="table table-striped w-25">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Slet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var type in Model)
        {
            <tr>
                <td>@type.Id</td>
                <td>@type.Name</td>
                <td>
                    <!-- Slet-knap -->
                    @using (Html.BeginForm("DeleteMeasurementType", "RawMaterials", FormMethod.Post))
                    {
                        @Html.Hidden("name", type.Name)
                        <button type="submit" class="btn btn-danger">Slet</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>