
@{
    ViewBag.Title = "EditRawMaterial";
}

<h2>EditRawMaterial</h2>

<!-- Man skal her have et RawMaterial med fra RåvarerView'et, man skal så kunne ændre dens felter.
    Der er ingen logik til at man kan tilføje materialer lige nu andet end det der kommer herinde.
    Der kunne være en knap hvor man indtaster at man har "bestilt" varer hjem, som så opdaterer lagerbeholdningen.
    Denne edit-side er primært tiltænkt til at kunne ændre name eller measurementType'-->