@model List<WebApp.DTO.RawMaterialDTO>

@{
    ViewBag.Title = "Råvarer";
}

<div class="top-bar">
    <div class="search-container">
        <form action="">
            <button type="submit">
                <i class="bi-box-fill"></i>
                <i class="bi bi-search"></i>
            </button>
            <input type="text" placeholder="Search..." name="Search">
        </form>
    </div>
</div>

<div class="body">
    <div class="crud">
        <button class="crud-btn to-do">Slet</button>
        <button class="crud-btn in-progress">Redigér</button>
        <button class="crud-btn create-type">Opret Type</button>
        <button class="crud-btn create-new">Opret Ny</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Kategori</th>
                <th>Unit</th>
                <th>Mængde</th>
            </tr>
            @*        public string UUID { get; private set; }
        public string MaterialName { get; set; }
        public string Category { get; set; }
        public Unit Unit { get; set; }
        public DateTime ReceivedDate { get; set; }
        // Possibly expiration date
        public int Quantity { get; set; }*@
        </thead>
        <tbody>
            @foreach (var rawmat in Model)
            {
                <tr>
                    <td>@rawmat.Material_id</td>
                    <td>@rawmat.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
